* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  display: grid;
  grid-template-areas:
    "list"
    "nom"
    "nom1";
  align-items: center;
  padding: 10px;
  position: relative;
  height: 100vh;
}

#fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

h1 {
  font-size: clamp(1rem, 2vw, 4rem);
}

#nombre {
  grid-area: nom;
  color: white;
  text-align: center;
  padding-bottom: 20%;
  text-shadow: 2px 2px 4px #000000;
}

#nombre1 {
  grid-area: nom1;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

a {
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.4s ease-in-out;
}

a:hover {
  color: white;
  border-bottom-color: #ebebeb;
  box-shadow: 2px #000000;
}

#lista1 {
  position: fixed;
  padding-top: 10px;
  top: 0;
  left: 27.5%;
  text-align: center;
  grid-area: list;
  color: white;
  z-index: 1000;
  text-shadow: 2px 2px 4px #000000;
}

main {
  width: 100%;
  position: relative;
  text-align: center;
  position: relative;
  background-color: #808080;
}

.image-wrapper img {
  width: 80px;
  height: auto;
  display: inline-block;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  object-fit: cover;
}

.image-wrapper:hover img {
  transform: scale(1.1);
}

#informacion {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #808080;
}

.box-text {
  padding: 40px;
  text-align: center;
}

.box-text p {
  color: white;
  font-size: 20px;
  margin: 0;
}
.box-text h1 {
  text-shadow: 2px 2px 4px #000000;
  color: white;
  font-size: 40px;
  line-height: 1.6;
  margin: 0;
}

#foto {
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.423);
  transition: transform 0.3s ease;
}

#foto:hover {
  transform: scale(1.1);
}
#estudioss {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #808080;
}

#estudioss h2 {
  position: relative;
  bottom: 20px;
  text-shadow: 2px 2px 4px #000000;
  color: white;
  font-size: 40px;
  line-height: 1.6;
  margin: 0;
}

#estudioss h3 {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 27px;
  line-height: 3;
}

.estudios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%; /* Asegura que ocupe el ancho completo disponible */
  max-width: 1200px; /* Limita el ancho máximo para una mejor visualización */
}

.estudio {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  flex: 1;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

